In [1]:
import pandas as pd

df = pd.read_csv('https://data.boston.gov/export/9fd/bdc/9fdbdcad-67c8-4b23-b6ec-861e77d56227.tsv','\t')


#df[df.Street == 'Worcester St']

#between 42.340865, -71.079541 tremont and columbus
df.loc[(df['Street'] == 'Worcester St') & (df['from'] == 'Tremont St'), 'from_lat'] = 42.340150
df.loc[(df['Street'] == 'Worcester St') & (df['from'] == 'Tremont St'), 'from_lng'] = -71.078852

df.loc[(df['Street'] == 'Worcester St') & (df['from'] == 'Washington St'), 'from_lat'] = 42.337483
df.loc[(df['Street'] == 'Worcester St') & (df['from'] == 'Washington St'), 'from_lng'] = -71.075638


df.loc[(df['Street'] == 'Worcester St') & (df['to'] == 'Columbus Ave'), 'to_lat'] = 42.341588
df.loc[(df['Street'] == 'Worcester St') & (df['to'] == 'Columbus Ave'), 'to_lng'] = -71.080440


df.loc[(df['Street'] == 'Worcester St') & (df['to'] == 'Tremont St'), 'to_lat'] = 42.340150
df.loc[(df['Street'] == 'Worcester St') & (df['to'] == 'Tremont St'), 'to_lng'] = -71.078852

In [ ]:
import browsercookie
cj = browsercookie.chrome()
baseURL = 'https://eat.googleplex.com/api/eat/offices/list'


requests.get(baseURL + 'eat/offices/list', cookies=cj, headers={h.split(': ')[0]:h.split(': ')[1] for h in headers.splitlines()}).text

In [111]:
import json

with open('/Users/jamesna/Documents/menus.json') as f:
    
    data = json.loads(f.read())

cafes = [] 
for cafe in data:
    
    if 'location' in cafe:
        if 'US-' in cafe['location']['building']:

            for schedule in cafe['schedule']:
                #print(schedule)
                for meal in schedule['meal_period']:
                    if 'start_time' in meal:
                        if 'hours' in meal['start_time']:
                            if (meal['start_time']['hours'] >= 16) & (meal['day_of_the_week'] == 1):
                                cafes.append(cafe['location']['address'])

In [138]:
set([''.join(c.split(',')[1:3]).strip() for c in cafes])

{'Cambridge MA 02142',
 'Council Bluffs IA 51501',
 'Kirkland WA 98033',
 'Lithia Springs GA 30122',
 'Los Angeles CA 90291',
 'Mountain View CA 94043',
 'New York NY 10011',
 'Palo Alto CA 94304',
 'Pittsburgh PA 15206',
 'Pryor Creek OK 74361',
 'San Bruno CA 94066',
 'San Francisco CA 94105',
 'Seattle WA 98103',
 'Sunnyvale CA 94089'}

In [143]:
import pandas as pd

pd.read_json('/Users/jamesna/Documents/menus.json').groupby('office_id').size().sort_values(ascending=False)

office_id
32785       33
66977801    24
32789       17
55          12
45          11
42           9
61           9
32770        8
31           7
18           4
19           4
39           4
54           4
32788        4
58           4
2            4
8            3
57           3
49           2
51           2
26           2
30           2
25           2
32780        2
22           2
21           2
62           2
32768        2
56066048     2
16           2
            ..
32771        1
55803904     1
54394880     1
28835844     1
28803074     1
2752513      1
55902208     1
55967744     1
32786        1
56033280     1
32782        1
32776        1
32774        1
32772        1
32769        1
41           1
56098816     1
59           1
66977799     1
66912256     1
66945024     1
50           1
48           1
55836672     1
46           1
66977792     1
44           1
43           1
66977794     1
47           1
Length: 93, dtype: int64

In [34]:

for street, _from, _to in df[df.Street == 'Worcester St'][['Street','from','to']].drop_duplicates().values:
    from_lat = df.loc[(df['Street'] == street) & (df['from'] == _from), 'from_lat'].min()
    from_lng = df.loc[(df['Street'] == street) & (df['from'] == _from), b'from_lng'].min()
    
    to_lat = df.loc[(df['Street'] == street) & (df['to'] == _to), 'to_lat'].min()
    to_lng = df.loc[(df['Street'] == street) & (df['to'] == _to), 'to_lng'].min()
    
    print(street, _from)
    print(street, _to)
    print(distance((from_lat,from_lng),(42.340865, -71.079541)))
    print(distance((to_lat,to_lng),(42.340865, -71.079541)))

Worcester St Tremont St
Worcester St Columbus Ave
0.0976104598248031
0.10919091133121825
Worcester St Washington St
Worcester St Tremont St
0.49429933313048613
0.0976104598248031

In [30]:
df[df.Street == 'Worcester St']

,MainID,CrossStreetMainID,Street,from,to,District,StartTime,EndTime,Side,Miles,...,Wednesday,Thursday,Friday,Saturday,Sunday,Yearround,from_lat,from_lng,to_lat,to_lng
2840,2902,1022.0,Worcester St,Tremont St,Columbus Ave,1S,08:00:00.0000000,12:00:00.0000000,Even,0.1343,...,True,False,False,False,False,False,42.340150,-71.078852,42.341588,-71.080440
2841,2903,2133.0,Worcester St,Tremont St,Columbus Ave,1S,08:00:00.0000000,12:00:00.0000000,Odd,0.1343,...,True,False,False,False,False,False,42.340150,-71.078852,42.341588,-71.080440
2842,2904,366.0,Worcester St,Washington St,Tremont St,1S,08:00:00.0000000,12:00:00.0000000,Even,0.2460,...,False,True,False,False,False,False,42.337483,-71.075638,42.340150,-71.078852
2843,2905,667.0,Worcester St,Washington St,Tremont St,1S,12:00:00.0000000,16:00:00.0000000,Odd,0.2460,...,False,True,False,False,False,False,42.337483,-71.075638,42.340150,-71.078852

In [32]:
for street, _to in df[df.Street == 'Worcester St'][['Street','to']].drop_duplicates().values:
    lat = df.loc[(df['Street'] == street) & (df['to'] == _to), 'to_lat'].min()
    lng = df.loc[(df['Street'] == street) & (df['to'] == _to), 'to_lng'].min()
    print(street, _to)
    print(distance((lat,lng),(42.340865, -71.079541)))

Worcester St Columbus Ave
0.10919091133121825
Worcester St Tremont St
0.0976104598248031

In [21]:
distance((lat,lng),(42.340865, -71.079541))

0.0976104598248031

In [20]:
 import math


def distance(origin, destination):
    """
    Calculate the Haversine distance.

    Parameters
    ----------
    origin : tuple of float
        (lat, long)
    destination : tuple of float
        (lat, long)

    Returns
    -------
    distance_in_km : float

    Examples
    --------
    >>> origin = (48.1372, 11.5756)  # Munich
    >>> destination = (52.5186, 13.4083)  # Berlin
    >>> round(distance(origin, destination), 1)
    504.2
    """
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371  # km

    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) * math.sin(dlon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = radius * c
    return d

In [ ]:

#street_from = dict()
for street, _from in df[['Street','from']].drop_duplicates().values:
    
    if (street,_from) not in street_from:
        lnk = 'https://maps.googleapis.com/maps/api/geocode/json?API_KEY=AIzaSyCi9iAy7BR-MmHxqHe3gjDnwTWN_-MUfj4&address={}+&+{},+Boston,+MA'.format(street,_from)
        street_from[(street,_from)] = requests.get(lnk).json()
    #d[(street,_from)]['lat'] = lat
    #d[(street,_from)]['lng'] = lng
    #coords = requests.get(lnk).json()['results'][0]['geometry']['location']
    #lat = coords['lat']
    #lng = coords['lng']

In [52]:
import requests
get_trash_days_from_trash_data(get_trash_day_data(get_address_api_info('325 B St')))

Error getting trash info from ReCollect API info. Got response: 400

NameError: name 'BadAPIResponse' is not defined

In [53]:
get_address_api_info('325 B Street')

{}

In [40]:

def get_trash_days_from_trash_data(trash_data):
    """
    Parse trash data from ReCollect service and return the trash and recycling
    days.

    :param trash_data: Trash data provided from ReCollect API
    :return: An array containing days trash and recycling are picked up
    """

    try:
        trash_days_string = trash_data["next_event"]["zone"]["title"]
        trash_days = trash_days_string.replace('&', '').split()
    except KeyError:
        # ReCollect API returned an unexpected JSON format
        raise BadAPIResponse

    return trash_days

In [38]:
def get_trash_day_data(api_parameters):
    """
    Gets the trash day data from ReCollect using the provided API parameters

    :param api_parameters: Parameters for ReCollect API
    :return: JSON object containing all trash data
    """

    # Rename the default API parameter "name" to "formatted_address"
    if "name" in api_parameters:
        api_parameters["formatted_address"] = api_parameters.pop("name")

    base_url = "https://recollect.net/api/places"
    request_result = requests.get(base_url, api_parameters)

    if request_result.status_code != requests.codes.ok:
        print("Error getting trash info from ReCollect API info. "
              "Got response: {}".format(request_result.status_code))
        return {}

    return request_result.json()

In [35]:

def get_address_api_info(address):
    """
    Gets the parameters required for the ReCollect API call

    :param address: Address to get parameters for
    :return: JSON object containing API parameters with format:

    {
        'area_name': value,
        'parcel_id': value,
        'service_id': value,
        'place_id': value,
        'area_id': value,
        'name': value
    }

    """

    base_url = "https://recollect.net/api/areas/" \
               "Boston/services/310/address-suggest"
    url_params = {'q': address, 'locale': 'en-US'}
    request_result = requests.get(base_url, url_params)

    if request_result.status_code != requests.codes.ok:
        print("Error getting ReCollect API info. Got response: {}"
              .format(request_result.status_code))
        return {}

    if not request_result.json():
        return {}

    return request_result.json()[0]